<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Astro-Paranoid</title>
</head>
<body>
  <header>
    <%- include('../layout/header')%>
  </header>

  <main id="content-wrapper">
    <%asteroids[0].forEach(asteroid =>{ %>
      <article class="asteroid-container">
        <!-- <img src="" alt="" class="asteroid-image"> -->
        <div class="name-size">
          <h4><%= asteroid.name %></h4>
          <h6>Size: <%= asteroid.diameter_feet_min.toFixed(2) %> - <%= asteroid.diameter_feet_max.toFixed(2) %> Feet</h6>
        </div>
        <div class="location-input">

        </div>
      </article>
    <%})%>   
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>
</body>
</html>
