<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
  <title>Astro-Paranoid</title>
</head>
<body>
  <header>
    <%- include('../layout/header')%>
  </header>

  <main id="content-wrapper">
      <article class="asteroid-container">
        <img src="<%= asteroid.img %>" alt="" class="asteroid-image">
        
      </article>

      <div id="map" style="height: 425px"></div>


      <section id="city-stats">

      </section>
      <section id="asteroid-stats">

      </section>
  </main>

  <footer>
    <%- include('../layout/footer')%>
  </footer>

  <script src="../../js/app.js"></script>
  <script async defer src="<%= `https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAPS_API}&callback=initMap` %>"></script>
</body>
</html>

